{% extends 'base.html' %}
{% load static %}

{% block title %}ROCA Rentals - Login{% endblock %}

{% block content %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="mb-3">
        <input type="email" class="form-control" id="email" name="email" placeholder="Correo" required>
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required>
    </div>
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="remember" name="remember">
        <label class="form-check-label" for="remember">Recuérdame</label>
    </div>
    <button type="submit" class="btn btn-primary w-100">Ingresar</button>
</form>
<div class="links mt-4 text-center">
    <a href="#">Olvidó su contraseña?</a>
    <br>
    <a href="{% url 'registro' %}">¿Aún no tiene cuenta? Registrarse</a>
</div>
{% endblock %}
